
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>标签云-木庄网络博客</title>
    <meta name="keywords" content="标签云,木庄网络博客,IT技术,网络推广,编程技术,网站模板,SEO优化" />
    <meta name="description" content="标签云,木庄网络博客，互联网创业浪潮中关注IT技术、站长、网络推广等资讯以及技术的记录与分享。" />
    <meta http-equiv="windows-Target " content="_top " />
<link rel="stylesheet" type="text/css" href="http://www.muzhuangnet.com/templates/blog/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://www.muzhuangnet.com/templates/blog/css/nprogress.css">
<link rel="stylesheet" type="text/css" href="http://www.muzhuangnet.com/templates/blog/css/style.css">
<link rel="stylesheet" type="text/css" href="http://www.muzhuangnet.com/templates/blog/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="http://www.muzhuangnet.com/templates/blog/images/icon.png">
<script src="http://www.muzhuangnet.com/templates/blog/js/jquery-2.1.4.min.js"></script>
<script src="http://www.muzhuangnet.com/templates/blog/js/nprogress.js"></script>
<script src="http://www.muzhuangnet.com/templates/blog/js/jquery.lazyload.min.js"></script>
<!--[if gte IE 9]>
  <script src="http://www.muzhuangnet.com/templates/blog/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="http://www.muzhuangnet.com/templates/blog/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="http://www.muzhuangnet.com/templates/blog/js/respond.min.js" type="text/javascript"></script>
  <script src="http://www.muzhuangnet.com/templates/blog/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
<link rel="shortcut icon" href="http://www.muzhuangnet.com/favicon.ico">



</head>
<body class="user-select">
    {{template "header.html" .}}
    <section class="container container-page">
  <div class="pageside">
    <div class="pagemenus">
      <ul class="pagemenu">
          <li><a href="/tags" title="标签云">标签云</a></li>
          <li><a href="/bookmark" rel="nofollow" title="书签">书签</a></li>
            
      </ul>
    </div>
  </div>
  <div class="content">
    <header class="article-header">
      <h1 class="article-title">标签云</h1>
    </header>
      <ul class="plinks ptags">
          {{range .tags}}
          <li><a href="/tag/{{.Slug}}" title="{{.Name}}">{{.Name}} <span class="badge">{{.Count}}</span></a></li>
             {{end}}
      </ul>
  </div>
</section>
    
{{template "footer.html" .}}
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.ias.js"></script>
    <script src="/static/js/scripts.js"></script>

</body>
</html>
